In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database: A structured collection of data organized for efficient retrieval, storage, and management. It's analogous to a digital filing cabinet.

SQL Databases (Structured Query Language): Store data in relational tables with rows (records) and columns (attributes). Enforce schema (structure) with data types and constraints,
ensuring data integrity and consistency. Well-suited for structured, predictable data with complex relationships. Examples: MySQL, PostgreSQL, Oracle.

NoSQL Databases (Non-relational): Offer flexible data models that can accommodate various data types and structures (documents, key-value, graph). Ideal for large volumes of unstructured or semi-structured data, scaling, and performance. Examples: MongoDB, Cassandra, Redis.

In [1]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): Used to define and manipulate the structure of database objects like tables, views, indexes.
CREATE: Creates new database objects. Example: CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255))
DROP: Deletes existing database objects. Example: DROP TABLE customers (use cautiously!)
ALTER: Modifies existing database objects' structure (adding/removing columns, changing data types). Example: ALTER TABLE customers ADD age INT
TRUNCATE: Removes all rows from a table, preserving the table structure. Example: TRUNCATE TABLE customers (faster than DELETE, but cannot be undone)

Custom exception caught: This is a custom exception.

In [2]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language): Used to insert, modify, and delete data within database tables.
INSERT: Adds new rows to a table. Example: INSERT INTO customers (name, email) VALUES ('John Doe', 'johndoe@example.com')
UPDATE: Modifies existing rows in a table. Example: UPDATE customers SET email = 'janedoe@example.com' WHERE id = 1
DELETE: Removes rows from a table. Example: DELETE FROM customers WHERE email = 'johndoe@example.com'

Error: Division by zero is not allowed.
None

In [12]:
Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language): Used to retrieve data from database tables.
SELECT: Retrieves specific columns and/or rows from a table. Example: SELECT name, email FROM customers

Child process running.

In [12]:
Q5. Explain Primary Key and Foreign Key.

Primary Key: Uniquely identifies each row in a table (like a social security number), enforcing data integrity.
Can be single or composite (multiple columns).

Foreign Key: References the primary key of another table, establishing relationships between tables. Enforces referential integrity.
Example: orders TABLE has a foreign key 'customer_id' that references the 'id' primary key in the 'customers' TABLE.

In [13]:
Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

Assuming you have the mysql-connector-python module installed:

In [19]:
!pip install mysql-connector-python

import mysql.connector



import mysql.connector

# Database connection details
db_host = "localhost"
db_user = "your_username"
db_password = "your_password"
db_name = "your_database"

# Connect to MySQL
try:
    connection = mysql.connector.connect(
        host=db_host,
        user=db_user,
        password=db_password,
        database=db_name
    )
    print("Connection successful!")

    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query (example: SELECT)
    cursor.execute("SELECT * FROM customers")

    # Fetch results
    results = cursor.fetchall()

    # Process results
    for row in results:
        print(row)

    # Close the connection
    connection.close()
    print("Connection closed.")

except mysql.connector.Error as err:
    print("Error connecting to MySQL:", err)

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 48.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Error connecting to MySQL: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)