Q1. List any five functions of the pandas library with execution:

In [7]:
import pandas as pd
import seaborn as sns
data = sns.load_dataset('iris')

# 1. read_csv(): Reads a CSV file into a DataFrame
df = pd.DataFrame(data = data)

# 2. head(): Returns the first n rows of the DataFrame
print(df.head())

# 3. describe(): Generates descriptive statistics of the DataFrame
print(df.describe())

# 4. dropna(): Drops rows with missing values
df.dropna(inplace=True)

# 5. groupby(): Groups the DataFrame using a mapper or by a Series of columns
grouped_df = df.groupby('sepal_length')

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Q2. Python function to re-index the DataFrame with a new index:

In [8]:
def reindex_dataframe(df):
    new_index = range(1, len(df)*2, 2)
    df.index = new_index
    return df

# Example usage:
# new_df = reindex_dataframe(df)

Q3. Python function to calculate the sum of the first three values in a column:

In [9]:
def sum_of_first_three_values(df):
    sum_values = df['Values'].iloc[:3].sum()
    print("Sum of the first three values:", sum_values)

# Example usage:
# sum_of_first_three_values(df)

Q4. Python function to create a new column 'Word_Count':

In [10]:
def create_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example usage:
# df = create_word_count_column(df)

In [ ]:
Q5. Difference between DataFrame.size() and DataFrame.shape():

DataFrame.size: Returns the number of elements in the DataFrame, which is the product of the number of rows and columns.
DataFrame.shape: Returns a tuple representing the dimensionality of the DataFrame, i.e., (number of rows, number of columns).

Q6. Function to read an excel file in pandas:

In [13]:

# read_excel(): Reads an Excel file into a DataFrame
df = pd.read_excel('file.xlsx')

Q7. Python function to extract username from email addresses:

In [14]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
# df = extract_username(df)

Q8. Python function to select rows based on column values:

In [16]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Usage example:
# df = pd.DataFrame(...)
# selected_df = select_rows(df)


Q9. Python function to calculate mean, median, and standard deviation of values in a column:

In [17]:
import pandas as pd

def calculate_stats(df):
    values_column = df['Values']
    mean_value = values_column.mean()
    median_value = values_column.median()
    std_dev_value = values_column.std()
    return mean_value, median_value, std_dev_value

# Usage example:
# df = pd.DataFrame(...)
# mean, median, std_dev = calculate_stats(df)

Q10. Python function to calculate moving average of sales for the past 7 days:

In [18]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Usage example:
# df = pd.DataFrame(...)
# df = calculate_moving_average(df)

Q11. Python function to create a new column 'Weekday' containing weekday names:

In [19]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

# Usage example:
# df = pd.DataFrame(...)
# df = add_weekday_column(df)

Q12. Python function to select rows where the date is between '2023-01-01' and '2023-01-31':

In [20]:
import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_rows

# Usage example:
# df = pd.DataFrame(...)
# selected_df = select_rows_between_dates(df)

In [ ]:
Q13. Necessary library to import for using basic functions of pandas:

The first and foremost necessary library that needs to be imported to use basic functions of pandas is pandas itself.
So, you import pandas using:

In [21]:
import pandas as pd